.info-box-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(35, 38, 39, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box-container .info-box {
  height: 90vh;
  width: 90vw;
  background-color: #dfe0e8;
  border: 2px solid #232627;
  position: relative;
}
.info-box-container .info-box .back-button {
  position: absolute;
  top: 1rem;
  right: 1.3rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(35, 38, 39, 0.7);
  background-color: #ff0363;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box-container .info-box .back-button a {
  font-weight: 400;
  font-size: 2rem;
  color: #dfe0e8;
  text-decoration: none;
}
.info-box-container .brand-info-box {
  height: 70vh;
  width: 70vw;
}
.info-box-container .brand-info-box .brand-title {
  text-align: center;
  height: 12vh;
  width: 100%;
  font-size: 3rem;
}
.info-box-container .brand-info-box .info-box-panes-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: 58vh;
  width: 100%;
}
.info-box-container .brand-info-box .info-box-panes-container .info-box-pane {
  padding: 3rem 1rem;
  position: relative;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
}
.info-box-container .brand-info-box .info-box-panes-container .info-box-pane .logo {
  margin-left: auto;
  margin-right: auto;
  min-height: 8rem;
  max-height: 16rem;
}
.info-box-container .brand-info-box .info-box-panes-container .info-box-pane .brand-categories {
  font-size: 1.5rem;
  text-align: center;
}
.info-box-container .brand-info-box .info-box-panes-container .info-box-pane .brand-categories em {
  font-style: normal;
  font-weight: 600;
}

.wide-card {
  background-color: #FFFFFF;
  border: 1px solid #232627;
  height: 7rem;
  width: 80%;
  margin: 1rem;
  padding: 0 1.5rem;
  box-sizing: border-box;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(35, 38, 39, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.wide-card .wide-card-title {
  font-weight: 700;
  font-size: 3rem;
  color: #000000;
  font-size: 2.5rem;
  width: 15rem;
}
.wide-card .wide-card-links-container {
  display: flex;
  justify-content: center;
}
.wide-card .wide-card-links-container a {
  margin: 0 0.5rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  transition: background-color 0.4s;
  padding: 0.1rem;
}
.wide-card .wide-card-links-container a:hover {
  background-color: #8810e3;
}
.wide-card .wide-card-logo-container {
  display: flex;
  justify-content: center;
  width: 15rem;
}
.wide-card .wide-card-logo-container img {
  max-width: 15rem;
  max-height: 6.5rem;
}

@media only screen and (max-device-width: 810px) {
  .wide-card {
    flex-flow: column-reverse;
    height: 15rem;
    width: 30rem;
  }
}
.category-switcher-container {
  width: 100%;
  margin: 2rem 0 1rem 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.category-switcher-container .category-switcher {
  background-color: #FFFFFF;
  height: 5rem;
  width: 45rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #232627;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(35, 38, 39, 0.7);
}
.category-switcher-container .category-switcher .text {
  font-size: 2rem;
  color: #000000;
}
.category-switcher-container .category-switcher .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
.category-switcher-container .category-switcher .buttons a {
  height: 3.5rem;
  width: 9.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 2rem;
  border: 0.13rem solid #232627;
  transition: background-color 0.4s;
}
.category-switcher-container .category-switcher .buttons a:hover {
  background-color: #8810e3;
}
.category-switcher-container .category-switcher .buttons .active {
  background-color: #10e3b2;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wide-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #232627;
  min-height: 25rem;
  width: 30rem;
  margin: 1rem;
  padding: 0.3rem 0.7rem;
  box-sizing: border-box;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgba(35, 38, 39, 0.7);
  transition: transform 0.3s;
}
.card .card-title {
  font-weight: 700;
  font-size: 3rem;
  color: #000000;
}
.card .card-subtitle {
  font-weight: 400;
  font-size: 1.3rem;
  color: #6c6c6c;
  margin-bottom: 0.3rem;
}
.card .card-description {
  font-weight: 400;
  font-size: 1.4rem;
  color: #000000;
}
.card .card-button-links-container {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  transform: scale(0, 0);
  transition: transform 0.1s;
}
.card .card-button-links-container .card-button-link {
  height: 2.7rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: #FFFFFF;
  transition: color 0.4s;
}
.card .card-button-links-container .card-button-link:hover {
  color: #10e3b2;
}
.card .card-images-container {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card .card-images-container img {
  height: 15rem;
  border: 1px solid #232627;
}

.card:hover {
  box-shadow: 0.1rem 0.1rem 0.3rem 0.08rem #232627;
  transform: scale(1.05, 1.05);
}
.card:hover .card-button-links-container {
  display: flex;
  transform: scale(1, 1);
}

/*# sourceMappingURL=products.css.map */
