@import "colors";
@import "transitions";

$flex-div-width: 22rem;
$flex-map-width: calc($flex-div-width + 6rem);

.footer {
  background-color: $footer-background-color;
  color: $footer-foreground-color;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  position: absolute;
  box-shadow: 0 0 10px $dark-background-color;

  .logo {
    a {
      height: 100%;
      img {height: 100%;}
    }
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
    height: 4rem;
    background-color: $active-color;
  }

  .footer-content {
    .footer-flexbox {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: top;
      justify-content: space-around;
      margin: 2rem auto;

      p.title {
        font-size: 1.2rem;
        font-weight: bold;
      }

      .address {
        font-size: 1.3rem;
        .address-lines {
          .address-line {
            margin: 3px 0;
          }
          .contact {
            i {
              margin-right: 0.3rem;
            }
            a {
              color: $footer-foreground-color;
            }
          }
        }
      }

      .social-links {
        display: flex;
        flex-direction: column;
        align-items: left;
        a {
          color: $footer-foreground-color;
        }
      }

      div {
        width: $flex-div-width;
      }

      .map {
        width: $flex-map-width;
        height: 22rem;
        iframe {
          height: 100%;
          width: 100%;
          border-radius: 10px;
        }
      }
    }

    .website-copyright {
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 1rem 0;
      a {
        color: $footer-foreground-color;;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    padding-bottom: 4rem;
    .footer-content {
      .footer-flexbox {
        max-width: $flex-map-width;
        margin: auto;
        flex-direction: column;
        div {
          margin: 1rem 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .footer {
    .footer-content {
      .footer-flexbox {
        width: 100%;
        div, .map {
          margin: auto;
          width: 90%;
        }
      }
    }
  }
}
