<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Kalawati Enterprises BETA Homepage
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/contact.css" />
  <script src="/scripts/form_validator.js"></script>
</head>

<body>
  <%- include("partials/navbar", {activePage: "contact"}); %>

  <div class="contactpage-main">
    <form name="contactform" method="POST" action="/contact">
      <label>
        Name: <input type="text" name="name" placeholder="Your Name Here" required/>
      </label>
      <label>
        Phone: <input type="tel" name="phone" placeholder="Your Phone Number"/>
      </label>
      <label>
        E-Mail: <input type="email" name="email" placeholder="Your Email Address"/>
      </label>
      <label>
        Message: <textarea name="message" placeholder="Your message here" rows="2"></textarea>
      </label>
      <input type="button" value="Submit" onclick="postForm()">
    </form>
  </div>
  <%- include("partials/footer", {activePage: "contact"}); %>
</body>
</html>
