<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    Kalawati Enterprises BETA Homepage
  </title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
</head>

<body>
  <%- include("partials/navbar", {activePage: "home"}); %>
  <div class="text-on-image">
    <h1>Kalawati Enterprises</h1>
    <h4>Durability and Style</h4>
  </div>
  <%- include("partials/footer", {activePage: "home"}); %>
</body>
</html>
