@import "../colors";

$navbar-alt-height: 3.8rem;
$bottom-navbar-height: 3.6rem;

.bottom-navbar {
  position: fixed;
  z-index: 1;
  bottom: 0;
  height: $bottom-navbar-height;
  width: 100%;
  background-color: $bottom-navbar-background-color;
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  .bottom-links-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: calc($bottom-navbar-height - 0.3rem);
    width: 100%;

    a {
      text-decoration: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      * {
        color: $bright-background-color;
      }
      .bottom-navbar-button {
        font-size: 2em;
      }
      .button-label {
        font-size: 0.8em;
      }
    }
    a.active {
      * {
        color: $secondary-active-color;
      }
    }
  }
}

@media only screen and (max-device-width: 1100px) {
  $navheight: $navbar-height;
  .navbar {
    justify-content: space-around;
    height: $navheight;
    .logo-anchor {
      // with explicit min and max width it will never change
      min-width: $navheight;
      max-width: $navheight;
      height: $navheight;
      .img-logo {
        display: block;
        height: 100%;
      }
      .text-logo { display: none; }
    }
  }
}

@media only screen and (max-device-width: 800px) {
  $navheight: $navbar-alt-height;
  .bottom-navbar {
    display: flex;
  }
  .navbar {
    justify-content: space-between;
    height: $navheight;
    .logo-anchor {
      // with explicit min and max width it will never change
      min-width: $navheight;
      max-width: $navheight;
      height: $navheight;
    }

    .links {
      width: 100%;
      background-color: #00000000;
      a {
        background-color: $secondary-bright-background-color;
        padding: 0.5em;
        box-shadow: $default-shadow;
      }
      // hide elements on phone that are present in bottom_navbar
      #navbar-home-button, #navbar-products-button,
      #navbar-locate-button, #navbar-contact-button { display: none; }
    }
  }
}
