<!--
  Kalawati Enterprises Website: The Official Website For Kalawati Enterprises
  Copyright (C) 2022  Vidhu Kant Sharma <vidhukant@protonmail.ch>
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="footer">
  <!-- bottom navbar needs to be sticky so it is here -->
  <%- include("bottom_navbar", {activePage: activePage}); %>

  <div class="logo">
    <a href="/"><img src="/logo.png" class="img-logo"/></a>
  </div>

  <div class="footer-content">
    <div class="website-copyright">
      <span><a href="https://kalawatienterprises.co.in">kalawatienterprises.co.in</a> Copyright (C) 2022 Vidhu Kant Sharma</span>
      <span>
        This website is free and open source software. Click
        <a href="https://github.com/KalawatiEnterprises/KalawatiEnterprisesWebsite">this link</a>
        for the git repo for this site and for licence info.
      </span>
    </div>
  </div>
</div>

