<!--
  Kalawati Enterprises Website: The Official Website For Kalawati Enterprises
  Copyright (C) 2022  Vidhu Kant Sharma <vidhukant@protonmail.ch>
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="footer">
  <!-- bottom navbar needs to be sticky so it is here -->
  <%- include("bottom_navbar", {activePage: activePage}); %>

  <div class="logo">
    <a href="/"><img src="/logo.png" class="img-logo"/></a>
  </div>

  <div class="footer-content">
    <div class="footer-flexbox">
      <div class="address">
        <p class="title">Our Address:</p>
        <span class="address-lines">
          <p class="address-line">Kalawati Enterprises, Meham Road</p>
          <p class="address-line">Bhiwani, Haryana (127021)</p>
          <p class="address-line">Landmark: Next to Ranveer Hospital</p>
          <br/>
          <p class="address-line contact">
            <a href="tel:+919215572199">
              <i class="fas fa-phone"></i>+919215572199
            </a>
          </p>
          <p class="address-line contact">
            <a href="mailto:shrikant@kalawatienterprises.co.in">
              <i class="fas fa-envelope"></i>shrikant@kalawatienterprises.co.in
            </a>
          </p>
        </span>
      </div>
      <div class="social-links">
        <p class="title">Our Social Media:</p>
        <a href="/products/all">Facebook</a>
        <a href="/brands/all">Instagram</a>
      </div>
      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3496.2928964971375!2d76.14350021549372!3d28.800344283215875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391266cfb047e691%3A0x844ff4300770443c!2sKalawati%20Enterprises!5e0!3m2!1sen!2sin!4v1654181182900!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="website-copyright">
      <span><a href="https://kalawatienterprises.co.in">kalawatienterprises.co.in</a> Copyright (C) 2022 Vidhu Kant Sharma</span>
      <span>
        This website is free and open source software. Click
        <a href="https://github.com/KalawatiEnterprises/KalawatiEnterprisesWebsite">this link</a>
        for the git repo for this site and for licence info.
      </span>
    </div>
  </div>
</div>

