<% const links = [
  {Name: "Home", Anchor: "/home", Id: "home"},
  {Name: "Products", Anchor: "/products/all", Id: "products"}, 
  {Name: "Contact Us", Anchor: "/contact", Id: "contact"}, 
  {Name: "Updates", Anchor: "/updates", Id: "updates"}, 
  {Name: "Offers", Anchor: "/offers", Id: "offers"}, 
  {Name: "Locate Us", Anchor: "/locate", Id: "locate"}, 
  {Name: "Social", Anchor: "/social", Id: "social"} 
] %>

<div class="navbar">
  <a class="logo-anchor" href="/">
    <span class="text-logo">
      Kalawati Enterprises
    </span>
    <img src="/logo.png" class="img-logo"/>
  </a>

  <div class="links">
    <% links.forEach(link => { %>
      <a href="<%= link.Anchor %>" class="<%= activePage === link.Id ? 'active' : '' %>" id="navbar-<%= link.Id %>-button">
        <%= link.Name %>
      </a>
    <% }) %>
  </div>
</div>

