<% const categories = [{Name: "Brand", Anchor: "/brands/all", Id: "brand"}, {Name: "Category", Anchor: "/categories/all", Id: "category"}, {Name: "All", Anchor: "/products/all", Id: "all"}] %>

<div class="category-switcher-container">
  <div class="category-switcher">
    <span class="text">Filter By:</span>
    <span class="buttons">
      <!-- generate links while checking and highlighting active link -->
      <% categories.forEach(cat => { %>
        <a href="<%= cat.Anchor %>" class="<%= activeCategory === cat.Id ? 'active' : '' %>">
          <%= cat.Name %>
        </a>
      <% }) %>
    </span>
  </div>
</div>
